/* ~/CSS/Pages/Shared/Friend.css */
.icon-default-friendstatus,.icon-ingame,.icon-instudio,.icon-online {
    background-image: url(/static/friendsstatus.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
}

.icon-ingame {
    background-position: 0 0;
}

.icon-instudio {
    background-position: 0 -28px;
}

.icon-online {
    background-position: 0 -56px;
}

.friend-list {
    max-height: 110px;
    overflow: hidden;
}

.friend {
    width: 11.11111%;
    height: 110px;
    position: relative;
}

.friend .friend-link {
    position: relative;
    max-width: 85px;
    margin: 0 auto;
}

.friend .friend-avatar {
    display: inline-block;
}

.friend .friend-avatar img {
    width: 85px;
    height: 85px;
    border: 1px solid #B8B8B8;
    border-radius: 3px;
}

.friend .friend-name {
    display: block;
    margin: 3px 0 0;
}

.friend .friend-name:hover {
    color: #00A2FF;
}

.friend .friend-status {
    position: absolute;
    right: -3.5px;
    top: 70px;
}

@media(max-width: 991px) {
    .friend .friend-status {
        right:0;
    }
}

@media(max-width: 991px) {
    .friend .friend-status {
        background-image:none;
        height: 4px;
        width: 85px;
        left: 0;
        top: 84px;
        margin: 0 auto;
    }

    .friend .friend-status.icon-ingame {
        background-color: #02b757;
    }

    .friend .friend-status.icon-instudio {
        background-color: #F68802;
    }

    .friend .friend-status.icon-online {
        background-color: #00A2FF;
    }
}

@media(max-width: 991px) {
    .friend {
        width:14.28571%;
    }
}

@media(max-width: 767px) {
    .friend {
        width:20%;
    }
}

@media(max-width: 479px) {
    .friend {
        width:33.33333%;
    }
}

/* ~/CSS/Pages/Users/Profile/Profile.css */
.profile-container {
    max-width: 970px;
    margin: 0 auto;
}

@media(max-width: 991px) {
    .profile-container {
        margin:0 5px;
    }
}

.profile-container .rbx-tab {
    width: 50%;
}

.profile-container .hide-game-items {
    position: absolute;
    width: 970px;
    height: 200px;
}

.profile-container .profile-game {
    margin-bottom: 20px;
}

.profile-container .profile-game .game-grid:before,.profile-container .profile-game .game-grid:after {
    content: " ";
    display: table;
}

.profile-container .profile-game .game-grid:after {
    clear: both;
}

.profile-container .item-list {
    overflow: hidden;
    max-height: 170px;
}

@media(max-width: 767px) {
    .profile-container .item-list {
        max-height:115px;
    }
}

.profile-container .badge-list {
    overflow: hidden;
    max-height: 170px;
}

@media(max-width: 767px) {
    .profile-container .badge-list {
        max-height:115px;
    }
}

.profile-container .badge-list-more {
    overflow: auto;
    max-height: 100%;
}

.profile-container .game-list-more {
    overflow: auto;
    max-height: 100%;
}

.profile-container .game-container {
    display: none;
    width: 16.66667%;
    min-width: 102px;
    float: left;
    text-align: center;
}

@media(max-width: 991px) {
    .profile-container .game-container {
        width:auto;
    }
}

.profile-container .game-container.shown {
    display: inline-block;
}

@media(max-width: 991px) {
    .profile-container .game-container.shown {
        white-space:nowrap;
        float: none;
    }
}

.profile-container .container-buttons {
    float: right;
}

.profile-container .asset-item {
    padding: 5px 0;
    text-align: center;
    width: 16.66667%;
}

@media(max-width: 991px) {
    .profile-container .asset-item {
        width:25%;
    }
}

@media(max-width: 767px) {
    .profile-container .asset-item {
        width:33.33333%;
    }
}

.profile-container .asset-item img {
    width: 140px;
    height: 140px;
    border: 1px solid #B8B8B8;
    border-radius: 3px;
}

@media(max-width: 767px) {
    .profile-container .asset-item img {
        width:85px;
        height: 85px;
    }
}

.profile-container .asset-item span[title] {
    width: 140px;
    height: 140px;
    border: 1px solid #B8B8B8;
    border-radius: 3px;
}

@media(max-width: 767px) {
    .profile-container .asset-item span[title] {
        width:85px;
        height: 85px;
        background-size: 170px auto;
    }
}

.profile-container .asset-item .item-name {
    display: block;
    width: 140px;
    text-align: left;
    margin: auto;
    line-height: 22px;
    overflow-x: hidden;
    white-space: nowrap;
}

@media(max-width: 767px) {
    .profile-container .asset-item .item-name {
        width:85px;
    }
}

.profile-container .asset-item .item-name:hover {
    color: #00A2FF;
}

.profile-container .collection-btns {
    float: right;
}

.profile-container .collection-btns .trade-link {
    margin-right: 6px;
}

@media(max-width: 479px) {
    .profile-container .collection-btns .trade-link {
        display:none;
    }
}

@media(max-width: 479px) {
    .profile-container .collections-item a,.profile-container .clothing-item a,.profile-container .model-item a {
        max-width:90px;
        margin: 0 auto;
    }
}

.profile-container .group-header {
    margin-bottom: 12px;
    height: 35px;
}

.profile-container .group-header h3 {
    float: left;
}

.profile-container .group-list {
    display: inline;
}

.profile-container .group-list:before,.profile-container .group-list:after {
    content: " ";
    display: table;
}

.profile-container .group-list:after {
    clear: both;
}

@media(max-width: 991px) {
    .profile-container .group-list {
        display:block;
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.profile-container .group-list .group-container {
    display: none;
    width: 16.66667%;
    min-width: 102px;
    float: left;
    text-align: center;
}

@media(max-width: 991px) {
    .profile-container .group-list .group-container {
        width:auto;
    }
}

.profile-container .group-list .group-container.shown {
    display: inline-block;
}

@media(max-width: 991px) {
    .profile-container .group-list .group-container.shown {
        white-space:nowrap;
        float: none;
    }
}

.load-more-button {
    width: 100%;
}

@media(max-width: 991px) {
    .load-more-button {
        display:none;
    }
}

.load-more-badges {
    display: none;
    width: 100%;
    margin-top: 12px;
}

@media(max-width: 767px) {
    .load-more-badges {
        display:block;
    }
}

.profile-ads-container {
    text-align: center;
}

@media(max-width: 991px) {
    .profile-ads-container {
        display:none;
    }
}

.profile-ads-container .profile-ad {
    width: 350px;
    display: inline-block;
}

.trade-link {
    float: right;
    margin-right: 12px;
}

.btn-secondary-xs:visited {
    background-color: #00A2FF;
}

.btn-secondary-xs:visited:hover {
    background-color: #32B5FF;
}

@media(max-width: 767px) {
    .container-header .assets-count {
        display:none;
    }

    .container-header .see-more-roblox-badges-button {
        display: none;
    }
}

.icon-inviter {
    background-position: 0 0;
}

@media(max-width: 767px) {
    .icon-inviter {
        background-position:0 0;
    }
}

.icon-friendship {
    background-position: -140px 0;
}

@media(max-width: 767px) {
    .icon-friendship {
        background-position:-85px 0;
    }
}

.icon-welcome-to-the-club {
    background-position: 0 -140px;
}

@media(max-width: 767px) {
    .icon-welcome-to-the-club {
        background-position:0 -85px;
    }
}

.icon-ambassador {
    background-position: -140px -140px;
}

@media(max-width: 767px) {
    .icon-ambassador {
        background-position:-85px -85px;
    }
}

.icon-combat-initiation {
    background-position: 0 -280px;
}

@media(max-width: 767px) {
    .icon-combat-initiation {
        background-position:0 -170px;
    }
}

.icon-warrior {
    background-position: -140px -280px;
}

@media(max-width: 767px) {
    .icon-warrior {
        background-position:-85px -170px;
    }
}

.icon-bloxxer {
    background-position: 0 -420px;
}

@media(max-width: 767px) {
    .icon-bloxxer {
        background-position:0 -255px;
    }
}

.icon-homestead {
    background-position: -140px -420px;
}

@media(max-width: 767px) {
    .icon-homestead {
        background-position:-85px -255px;
    }
}

.icon-bricksmith {
    background-position: 0 -560px;
}

@media(max-width: 767px) {
    .icon-bricksmith {
        background-position:0 -340px;
    }
}

.icon-official-model-maker {
    background-position: -140px -560px;
}

@media(max-width: 767px) {
    .icon-official-model-maker {
        background-position:-85px -340px;
    }
}

.icon-builders-club {
    background-position: 0 -700px;
}

@media(max-width: 767px) {
    .icon-builders-club {
        background-position:0 -425px;
    }
}

.icon-turbo-builders-club {
    background-position: -140px -700px;
}

@media(max-width: 767px) {
    .icon-turbo-builders-club {
        background-position:-85px -425px;
    }
}

.icon-outrageous-builders-club {
    background-position: 0 -840px;
}

@media(max-width: 767px) {
    .icon-outrageous-builders-club {
        background-position:0 -510px;
    }
}

.icon-administrator {
    background-position: -140px -840px;
}

@media(max-width: 767px) {
    .icon-administrator {
        background-position:-85px -510px;
    }
}

.icon-veteran {
    background-position: 0 -980px;
}

@media(max-width: 767px) {
    .icon-veteran {
        background-position:0 -595px;
    }
}

/* ~/CSS/Pages/Users/Profile/ProfileHeader.css */
.profile-header:before,.profile-header:after {
    content: " ";
    display: table;
}

.profile-header:after {
    clear: both;
}

.profile-header .profile-header-top:before,.profile-header .profile-header-top:after {
    content: " ";
    display: table;
}

.profile-header .profile-header-top:after {
    clear: both;
}

.profile-header .profile-avatar-image,.profile-header .profile-header-content {
    float: left;
}

.profile-header .profile-avatar-image {
    position: relative;
    margin-right: 12px;
}

.profile-header .profile-avatar-image .icon-online,.profile-header .profile-avatar-image .icon-ingame,.profile-header .profile-avatar-image .icon-instudio {
    background-size: 38px auto;
    width: 38px;
    height: 38px;
}

@media(max-width: 480px) {
    .profile-header .profile-avatar-image {
        width:25%;
        margin-right: 0;
        padding-top: 12px;
        margin-bottom: 12px;
    }
}

.profile-header .profile-avatar-image .icon-ingame {
    background-position: 0 0;
}

.profile-header .profile-avatar-image .icon-instudio {
    background-position: 0 -38px;
}

.profile-header .profile-avatar-image .icon-online {
    background-position: 0 -76px;
}

.profile-header .profile-avatar-image .avatar-image-link {
    display: block;
    border: 1px solid #B8B8B8;
}

.profile-header .profile-avatar-image .avatar-image-link img {
    width: 110px;
    height: 110px;
}

@media(max-width: 479px) {
    .profile-header .profile-avatar-image .avatar-image-link img {
        width:100%;
        height: 100%;
    }
}

.profile-header .profile-avatar-image .profile-avatar-status {
    position: absolute;
    right: -12px;
    bottom: -12px;
    z-index: 1000;
}

@media(max-width: 991px) {
    .profile-header .profile-avatar-image .profile-avatar-status {
        background-image:none;
        display: block;
        height: 6px;
        width: 100%;
        right: 0;
        bottom: 0;
    }

    .profile-header .profile-avatar-image .profile-avatar-status.icon-ingame {
        background-color: #02b757;
    }

    .profile-header .profile-avatar-image .profile-avatar-status.icon-instudio {
        background-color: #F68802;
    }

    .profile-header .profile-avatar-image .profile-avatar-status.icon-online {
        background-color: #00A2FF;
    }
}

.profile-header .profile-header-content {
    width: 100%;
    position: relative;
}

@media(max-width: 767px) {
    .profile-header .profile-header-content {
        width:100%;
        margin-left: 0;
        position: static;
    }
}

.profile-header .header-title {
    display: inline-block;
}

@media(max-width: 767px) {
    .profile-header .header-title {
        padding-top:12px;
    }
}

@media(max-width: 480px) {
    .profile-header .header-title {
        float:right;
        width: 75%;
        overflow: hidden;
        padding-left: 12px;
    }
}

.profile-header .header-title h2 {
    display: inline-block;
    margin: 0 12px 0 0;
}

@media(max-width: 767px) {
    .profile-header .header-title h2 {
        margin:0 12px 0 12px;
    }
}

@media(max-width: 480px) {
    .profile-header .header-title h2 {
        margin:0;
    }
}

.profile-header .header-title .icon-tbc {
    display: inline-block;
}

.profile-header .header-userstatus {
    margin: 6px 0;
    overflow: hidden;
}

@media(max-width: 479px) {
    .profile-header .header-userstatus {
        font-size:14px;
        overflow: inherit;
    }
}

.profile-header .header-userstatus .header-userstatus-text span {
    display: inline-block;
    width: 100%;
    height: 1em;
}

.profile-header .header-userstatus .header-userstatus-text span.userstatus-editable {
    cursor: pointer;
}

.profile-header .header-userstatus .header-userstatus-share-progress {
    margin: 12px;
    height: 17px;
    width: 48px;
}

.profile-header .header-details {
    position: relative;
}

.profile-header .header-details:before,.profile-header .header-details:after {
    content: " ";
    display: table;
}

.profile-header .header-details:after {
    clear: both;
}

@media(max-width: 767px) {
    .profile-header .header-details {
        display:inline-block;
        padding-left: 4px;
        padding-top: 3px;
    }
}

@media(max-width: 480px) {
    .profile-header .header-details {
        width:75%;
    }
}

.profile-header .header-details .details-info:before,.profile-header .header-details .details-info:after,.profile-header .header-details .details-actions:before,.profile-header .header-details .details-actions:after {
    content: " ";
    display: table;
}

.profile-header .header-details .details-info:after,.profile-header .header-details .details-actions:after {
    clear: both;
}

.profile-header .header-details .details-info li,.profile-header .header-details .details-actions li {
    padding: 0 5px;
    text-align: center;
}

.profile-header .header-details .details-info {
    float: left;
    width: 36%;
}

.profile-header .header-details .details-info li {
    float: left;
    width: 33%;
}

@media(max-width: 767px) {
    .profile-header .header-details .details-info {
        width:100%;
        float: none;
    }
}

@media(max-width: 479px) {
    .profile-header .header-details .details-info {
        width:100%;
    }
}

.profile-header .header-details .details-actions {
    float: right;
    width: 45%;
}

@media(max-width: 767px) {
    .profile-header .header-details .details-actions {
        width:100%;
        margin-top: 6px;
    }
}

.profile-header .header-details .details-actions li {
    float: right;
}

@media(max-width: 991px) {
    .profile-header .header-details .details-actions li .btn-control-sm,.profile-header .header-details .details-actions li .btn-primary-sm {
        padding:7px 5px;
    }
}

@media(max-width: 479px) {
    .profile-header .header-details .details-actions li .btn-control-sm,.profile-header .header-details .details-actions li .btn-primary-sm {
        width:100%;
        margin: 6px auto;
    }
}

.profile-header .header-details .details-actions .btn-unfollow {
    background-color: #E2231A;
    color: #fff;
}

.profile-header .mobile-details-actions {
    margin: 12px auto;
}

.profile-header .mobile-details-actions ul {
    white-space: nowrap;
}

.profile-header .mobile-details-actions ul.two-item-list li {
    width: 50%;
}

.profile-header .mobile-details-actions ul.three-item-list li {
    width: 33%;
}

.profile-header .mobile-details-actions li {
    display: inline-block;
}

.profile-header .mobile-details-actions li a {
    text-align: center;
    display: block;
}

.profile-header .mobile-details-actions li a .icon-background {
    background: url(/static/profile_icons_05112016.svg);
    height: 40px;
    width: 44px;
    margin: 0 auto;
}

.profile-header .mobile-details-actions li a .icon-text {
    font-size: 14px;
    color: #757575;
}

.profile-header .mobile-details-actions .center-icon {
    border-left: 1px solid #B8B8B8;
}

.profile-header .mobile-details-actions .last-icon {
    border-left: 1px solid #B8B8B8;
}

.profile-header .mobile-details-actions .action-add-friend .icon-background {
    background-position-y: 0;
}

.profile-header .mobile-details-actions .action-remove-friend .icon-background {
    background-position-y: -44px;
}

.profile-header .mobile-details-actions .action-friend-pending .icon-background {
    background-position-y: -86px;
}

.profile-header .mobile-details-actions .action-message .icon-background {
    background-position-y: -125px;
}

.profile-header .mobile-details-actions .action-join-game .icon-background {
    background-position-y: -170px;
}

.profile-header .header-details-error {
    float: right;
    margin: 0 6px 0 0;
}

.profile-header .profile-header-more {
    position: absolute;
    top: 0;
    right: 6px;
}

.profile-header .icon-more {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}