/* ~/CSS/Pages/Upgrades/Robux.css a*/
.grid:before,
.grid:after {
  content: " ";
  display: table;
}

.grid:after {
  clear: both;
}

.grid .cell {
  float: left;
  padding: 5px;
}

.grid .cell-content {
  background-color: #fff;
  padding: 12px;
  box-shadow: 0 0 10px #ccc;
}

.grid .cell-content:before,
.grid .cell-content:after {
  content: " ";
  display: table;
}

.grid .cell-content:after {
  clear: both;
}

.col-grid-4 {
  width: 33.33333%;
}

.col-grid-8 {
  width: 66.66667%;
}

.icon-robux {
  background-position: -98px -392px;
}

.content {
  max-width: 970px;
  padding-top: 0;
}

.robux-header {
  padding: 10px 0;
}

.robux-header:before,
.robux-header:after {
  content: " ";
  display: table;
}

.robux-header:after {
  clear: both;
}

.robux-header h1,
.robux-header h3 {
  float: left;
  display: inline-block;
}

.robux-header h1 {
  line-height: 1em;
}

@media(max-width:767px) {
  .robux-header {
    padding: 2px 0;
  }

  .robux-header h1 {
    font-size: 30px;
  }

  .robux-header h3 {
    font-size: 12px;
    margin-top: 12px;
  }
}

.robux-grid .cell-content {
  height: 170px;
  padding: 12px 24px;
  position: relative;
}

.robux-grid .robux-set-flag {
  position: absolute;
  width: 96px;
  height: 27px;
  top: 0;
  right: -6px;
  background-color: #F68802;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding: 4px 0;
  text-transform: uppercase;
}

.robux-grid .robux-set-flag .robox-flag-traingle {
  position: absolute;
  bottom: -6px;
  right: 0;
  width: 0;
  height: 0;
  margin-left: -6px;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #9F550D;
}

@media(max-width:991px) {
  .robux-grid .cell-content {
    height: 150px;
    padding: 12px;
  }
}

.robux-grid .robux-title {
  height: 36px;
}

.robux-grid .robux-title h1,
.robux-grid .robux-bonus {
  font-weight: 400;
}

.robux-grid .robux-title h1,
.robux-grid .robux-title h2 {
  display: inline-block;
  margin: 0;
}

.robux-grid .robux-title h1 {
  color: #757575;
  line-height: 1em;
}

.robux-grid .robux-title h2 {
  color: #B8B8B8;
}

@media(max-width:991px) {
  .robux-grid .robux-title {
    height: 30px;
  }

  .robux-grid .robux-title h1 {
    font-size: 30px;
  }

  .robux-grid .robux-title h2 {
    font-size: 24px;
  }
}

.robux-grid .robux-cell-header .cell-content {
  padding: 12px;
}

.robux-grid .robux-cell-header .cell-content:before,
.robux-grid .robux-cell-header .cell-content:after {
  content: " ";
  display: table;
}

.robux-grid .robux-cell-header .cell-content:after {
  clear: both;
}

.robux-grid .robux-cell-header .robux-header-icon,
.robux-grid .robux-cell-header .robux-header-desc {
  float: left;
  display: inline-block;
}

.robux-grid .robux-cell-header .robux-header-icon {
  margin: 0 12px 0 8px;
  width: 98px;
}

.robux-grid .robux-cell-header .robux-header-icon .icon-robux {
  background-size: 200% auto;
  width: 98px;
  height: 98px;
}

.robux-grid .robux-cell-header .robux-header-desc {
  width: 70%;
  width: calc(100% - 98px - 12px * 4);
  margin: 8px 0 0;
}

.robux-grid .robux-cell-header .robux-header-desc span {
  display: inline-block;
  width: 100%;
}

@media(max-width:991px) {
  .robux-grid .robux-cell-header .robux-header-icon {
    width: 60px;
    margin: 0 6px 0 8px;
  }

  .robux-grid .robux-cell-header .robux-header-icon .icon-robux {
    -webkit-transform: scale(0.61224);
    -ms-transform: scale(0.61224);
    -o-transform: scale(0.61224);
    transform: scale(0.61224);
    margin: -18px 0 0 -24px;
  }

  .robux-grid .robux-cell-header .robux-header-desc {
    width: 80%;
    width: calc(100% - 60px - 12px * 2);
    font-size: 14px;
    margin: 0;
    max-height: 100px;
  }
}

@media(max-width:767px) {
  .robux-grid .robux-cell-header .robux-header-icon {
    display: none;
  }

  .robux-grid .robux-cell-header .robux-header-desc {
    float: none;
    width: 100%;
  }
}

@media(max-width:767px) {
  .robux-grid .robux-cell-header .cell-content {
    height: auto;
  }
}

.robux-grid .robux-bonus-nbc {
  padding: 0 0 5px;
}

@media(max-width:991px) {
  .robux-grid .robux-bonus-nbc {
    font-size: 14px;
  }
}

.robux-grid .robux-buy {
  width: 100%;
  margin: 9px 0;
}

.robux-grid-bc .cell-content {
  height: 126px;
}

.robux-grid-bc .robux-cell-header .robux-header-desc {
  margin: 0;
}

@media(max-width:991px) {
  .robux-grid-bc .cell-content {
    height: 104px;
  }
}

@media(max-width:991px) {
  .robux-container {
    margin: 0 12px;
  }
}

@media(max-width:767px) {
  .cell {
    float: none;
    width: 100%;
    padding: 0 0 12px;
  }
}

.robux-footer {
  color: #757575;
  padding: 12px 0 0 5px;
}

/* ~/CSS/Legacy/Modal.css */
div#simplemodal-container {
  box-sizing: content-box;
}

@media(max-width:480px) {
  div#simplemodal-container {
    height: auto;
  }
}

.GenericModalButtonContainer .btn-large,
.GenericModalButtonContainer .btn-medium,
.GenericModalButtonContainer .btn-small {
  margin: 0;
  display: inline-block;
  zoom: 1;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  box-sizing: content-box;
}

.GenericModalButtonContainer .btn-large {
  padding: 9px 13px 0 13px;
  height: 39px;
  min-width: 70px;
  font-size: 23px;
  line-height: 27px;
  background-position: left 0;
}

.GenericModalButtonContainer .btn-large:hover,
.GenericModalButtonContainer .btn-medium:hover,
.GenericModalButtonContainer .btn-small:hover {
  text-decoration: none;
}

.GenericModalButtonContainer .btn-large:hover {
  background-position: left -48px;
}

.GenericModalButtonContainer .btn-neutral,
.GenericModalButtonContainer .btn-neutral:link,
.GenericModalButtonContainer .btn-neutral:active,
.GenericModalButtonContainer .btn-neutral:visited {
  border-color: #0852b7;
  background-color: #0852b7;
  background-image: url(/web/20160410120935im_/https://static.rbxcdn.com/images/Buttons/StyleGuide/bg-btn-blue.png);
  color: white;
}

.GenericModalButtonContainer .btn-negative,
.GenericModalButtonContainer .btn-negative:link,
.GenericModalButtonContainer .btn-negative:active,
.GenericModalButtonContainer .btn-negative:visited {
  border-color: #565656;
  background-color: #565656;
  background-image: url(/web/20160410120935im_/https://static.rbxcdn.com/images/Buttons/StyleGuide/bg-btn-gray.png);
  color: white;
}

.simplemodal-container,
.simplemodal-container .ConfirmationModal,
.simplemodal-container .GenericModalButtonContainer {
  box-sizing: content-box;
}

.simplemodal-container .btn-primary,
.simplemodal-container .btn-primary:link,
.simplemodal-container .btn-primary:active,
.simplemodal-container .btn-primary:visited {
  border-color: #007001;
  background-color: #007001;
  background-image: url(/web/20160410120935im_/https://static.rbxcdn.com/images/Buttons/StyleGuide/bg-btn-green.png) !important;
  color: white;
}

.simplemodal-container .btn-none {
  display: none;
}

.simplemodal-container .btn-medium {
  padding: 1px 13px 3px 13px;
  height: 28px;
  min-width: 62px;
  font-size: 20px;
  background-position: left -96px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.simplemodal-container .btn-medium:hover {
  background-position: left -128px;
}

.simplemodal-container .btn-primary[disabled],
.simplemodal-container .btn-primary[disabled]:hover,
.simplemodal-container .btn-disabled-primary,
.simplemodal-container .btn-disabled-primary:hover {
  cursor: default;
  background-position: left -202px;
}

.simplemodal-container .btn-primary[disabled],
.simplemodal-container .btn-primary[disabled]:link,
.simplemodal-container .btn-primary[disabled]:active,
.simplemodal-container .btn-primary[disabled]:visited,
.simplemodal-container .btn-disabled-primary,
.simplemodal-container .btn-disabled-primary:link,
.simplemodal-container .btn-disabled-primary:active,
.simplemodal-container .btn-disabled-primary:visited {
  background-color: #99c699;
  background-image: url(/web/20160410120935im_/https://static.rbxcdn.com/images/Buttons/StyleGuide/bg-btn-green.png);
  border-color: #99c699;
  color: white;
}

.simplemodal-container .btn-negative,
.simplemodal-container .btn-negative:link,
.simplemodal-container .btn-negative:active,
.simplemodal-container .btn-negative:visited {
  border-color: #565656;
  background-color: #565656;
  background-image: url(/web/20160410120935im_/https://static.rbxcdn.com/images/Buttons/StyleGuide/bg-btn-gray.png);
  color: white;
}

.GenericModalButtonContainer .btn-primary,
.GenericModalButtonContainer .btn-primary:link,
.GenericModalButtonContainer .btn-primary:active,
.GenericModalButtonContainer .btn-primary:visited {
  border-color: #007001;
  background-color: #007001;
  background-image: url(/web/20160410120935im_/https://static.rbxcdn.com/images/Buttons/StyleGuide/bg-btn-green.png) !important;
  color: white;
}

.GenericModalButtonContainer .btn-negative,
.GenericModalButtonContainer .btn-negative:link,
.GenericModalButtonContainer .btn-negative:active,
.GenericModalButtonContainer .btn-negative:visited {
  border-color: #565656;
  background-color: #565656;
  background-image: url(/web/20160410120935im_/https://static.rbxcdn.com/images/Buttons/StyleGuide/bg-btn-gray.png);
  color: white;
}

.GenericModalButtonContainer .btn-none {
  display: none;
}

.PurchaseModal .simplemodal-close a {
  background: url("/web/20160410120935im_/https://static.rbxcdn.com/images/Buttons/btn-x.png") no-repeat top left;
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 5px;
}

.PurchaseModal .simplemodal-close a:hover {
  background-position: bottom left;
  cursor: pointer;
}

.CustomizeCharacterLink {
  display: block;
  margin-top: 10px;
}

.PurchaseModalMessage.SuccessMsg {
  padding: 30px 20px 20px 20px;
  height: auto;
}

.PurchaseModal span.Robux,
.PurchaseModal span.Tickets,
.PurchaseModal span.Free {
  margin-bottom: 2px;
}

.PurchaseModalClose {
  cursor: pointer;
  position: absolute;
  right: -18px;
  top: -18px;
}

.PurchaseModal {
  width: 435px;
  display: none;
  position: absolute;
  border: 2px solid #272727;
  background-color: #E1E1E1;
  padding: 5px;
}

.PurchaseModal .titleBar {
  background-color: #E1E1E1;
  font-weight: bold;
  font-size: 27px;
  letter-spacing: -1px;
  color: #343434;
  height: 38px;
  text-align: center;
}

.PurchaseModalBody {
  background-color: #fff;
}

.PurchaseModalMessage {
  padding: 10px;
  height: 110px;
}

.PurchaseModalMessageImage {
  display: inline-block;
  width: 110px;
  height: 110px;
}

.PurchaseModalMessageText {
  display: inline-block;
  width: 275px;
  vertical-align: top;
  padding-top: 28px;
}

.PurchaseModalButtonContainer {
  clear: left;
  padding-top: 10px;
  text-align: center;
}

.PurchaseModalFooter {
  text-align: center;
  margin: 10px auto 0;
  padding-bottom: 5px;
}

.ProcessingModalBody {
  margin: 15px auto;
  text-align: center;
  vertical-align: middle;
  background: none;
}

.CurrencyColor1 {
  color: #080;
  padding-left: 20px;
  background: url(/web/20160410120935im_/https://static.rbxcdn.com/images/cssspecific/rbx2/head_infobox_icons.png) no-repeat 0 -42px;
}

.CurrencyColor2 {
  color: #A61;
  padding-left: 20px;
  background: url(/web/20160410120935im_/https://static.rbxcdn.com/images/cssspecific/rbx2/head_infobox_icons.png) no-repeat 0 -122px;
}

.CurrencyColorFree {
  color: #080;
}

.ConfirmationModal .GenericModalBody .validationTooltip {
  color: #a00;
  font-size: 11px;
  display: inline;
}

#DeleteProductPromotionModal .thumbs-up-green {
  width: 110px;
  height: 110px;
  background: url("/web/20160410120935im_/https://static.rbxcdn.com/images/Icons/thumbs_up.png") no-repeat;
  display: block;
}

#DeleteProductPromotionModal .btn-blue-ok-sharp {
  height: 50px;
  width: 102px;
  display: inline-block;
  background: url("/web/20160410120935im_/https://static.rbxcdn.com/images/Buttons/btn_blue_ok_l.png") top left no-repeat;
}

#DeleteProductPromotionModal .btn-blue-ok-sharp:hover {
  cursor: pointer;
  background-position: bottom left;
}

.ConfirmationModal .GenericModalBody .validationTooltip {
  color: #a00;
  font-size: 11px;
  display: inline;
}

.ABCloseCircle {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
}

.closeBtnCircle_35h:hover {
  background-position: 0 35px;
}

.closeBtnCircle_35h {
  width: 35px;
  height: 35px;
  background: url(/web/20160410120935im_/https://static.rbxcdn.com/images/Buttons/closeBtnCircle_35h.png);
}

.closeBtnCircle_20h:hover {
  background-position: 0 20px;
}

.closeBtnCircle_20h {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 395px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: url(/web/20160410120935im_/https://static.rbxcdn.com/images/Buttons/btn-x.png);
}

/* ~/CSS/Pages/Shared/ShopInterstitialModal.css */
.shop-modal {
  background-color: #fff;
  height: 290px;
  width: 760px;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: local;
  background-image: url(/web/20160410120935im_/https://static.rbxcdn.com/images/Shop/combo.jpg);
  background-position: right;
  background-size: 497px 290px;
}

.shop-modal .shop-modal-item-left {
  width: 430px;
  height: 290px;
  margin: 20px 30px;
  position: relative;
  text-align: left;
}

.shop-modal .shop-modal-item-left h2 {
  width: 85%;
  color: #191919;
  font-size: 30px;
  font-weight: 600;
  line-height: 1em;
}

.shop-modal .shop-modal-item-left .body-text {
  width: 60%;
  color: #191919;
  padding-top: 7px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1em;
}

.shop-modal .shop-modal-item-left .controls {
  margin-top: 38px;
  display: inline-block;
}

.shop-modal .shop-modal-item-left .controls:before,
.shop-modal .shop-modal-item-left .controls:after {
  content: " ";
  display: table;
}

.shop-modal .shop-modal-item-left .controls:after {
  clear: both;
}

.shop-modal .shop-modal-item-left .controls .btn-continue-shopping {
  float: left;
  padding: 7px 8px 3px 8px;
}

.shop-modal .shop-modal-item-left .controls .btn-shopping-close {
  padding: 10px 24px;
  float: right;
}

.shop-modal .shop-modal-item-left .controls .btn-shopping-close.text-link,
.shop-modal .shop-modal-item-left .controls .btn-shopping-close.text-link:link,
.shop-modal .shop-modal-item-left .controls .btn-shopping-close.text-link:visited,
.shop-modal .shop-modal-item-left .controls .btn-shopping-close.text-link:active {
  color: #00A2FF;
  font-size: 16px;
}

.shop-modal .shop-modal-item-left .controls .btn-shopping-close.text-link:hover,
.shop-modal .shop-modal-item-left .controls .btn-shopping-close.text-link:focus {
  text-decoration: underline;
}

.shop-modal .shop-modal-item-left .controls .btn-shopping-close:hover {
  text-decoration: underline;
}

.shop-modal .shop-modal-item-left .fine-print {
  position: absolute;
  bottom: 30px;
  left: 0;
}

@media(max-width:991px) {
  .shop-modal .shop-modal-item-left {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
  }
}

@media(max-width:767px) {
  .shop-modal .shop-modal-item-left {
    width: 30%;
  }
}

@media(max-width:479px) {
  .shop-modal .shop-modal-item-left {
    width: 100%;
    display: block;
    height: auto;
  }
}

/*
     FILE ARCHIVED ON 12:09:35 Apr 10, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:31:01 Jul 21, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.772
  exclusion.robots: 0.037
  exclusion.robots.policy: 0.021
  esindex: 0.013
  cdx.remote: 244.515
  LoadShardBlock: 647.595 (3)
  PetaboxLoader3.datanode: 713.526 (4)
  load_resource: 409.386
  PetaboxLoader3.resolve: 273.195
*/